@{
    ViewBag.Title = "Twitter-Ish";
}

<div class="jumbotron">
    <h1>Welcome To Twitter-Ish</h1>
    <p class="lead">Twitter-Ish is a social networking platform designed to reach a large group of audience all at once instead of talk to eachother individually.</p>
    <p>To get started click the dropdown menu in the top left corner and register an account.  After you have registered an account, you can then navigate through the dropdown menu
        to the Messages page, or My Messages page.  The Messages page will display all of Twitter-Ish's messages and the My Messages page will display only the messages you have created.</p>
    <p>When you have finished please log out.</p>
</div>

<div class="row">
    
    <div class="col-md-4">
        <center>
            <h2>By Carr O'Connor</h2>
            <p>Hi, I am currently going through Eleven Fifty's 14 week Course.  This is a project I finished at the end of week 9.  I developed a simple messaging app with open communication similar to the popular Social Networking company, Twitter.  No where near as complex as them however.  Thanks, take a look around.</p>
        </center>
        </div>
    
</div>